<!-- The "include" function in EJS is used to include a piece of reusable code (another EJS file) in the current EJS file. -->
<%- include('partials/header') %>
<h1>Home</h1>
<%= homeStartingContent %>
<%= posts %>

<% for (var i=0; i<posts.length; i++){ %>
    <%= console.log(posts[i].title); %>
    <% } %>
<%- include('partials/footer') %>